body {
  background-color: white;
  font-size: 20px;
}

.container{
  width: 100%;
  background-color: lightgrey;
  display: inline-block;
}

div{
  font-size: 20px;
  display: inline-flex;
  padding-bottom: 20px;
  float: left;
  overflow: hidden;
  height: 200px;
}

img{
  width: 375px;
  object-fit: cover;
}

h1{
  text-align: center;
  font-weight: lighter;
  letter-spacing: 3px;
  padding-bottom: 30px;
  padding-top: 30px;
  padding-left: 0px;
  font-family: Arial;
}
h2 {
  position: absolute;
  padding-left: 30px;
  padding-top: 30px;
}

@media screen and (min-width: 575px){
   div {
    width: 50%;
  }
  h1{
    text-align: center;
  }
}

@media screen and (min-width: 991px){
   div {
    width: 25%;
  }
  h1{
    text-align: center;
  }
}
