body {
  background-color: white;
  font-size: 20px;
  max-width: 375px;
}

.container{
  background-color: lightgrey;
  font-style: sans-serif;
  max-width: 375px;
  display: inline-block;
}

div{
  font-size: 20px;
  display: flex;
  padding-bottom: 20px;
}

img{
  width: 375px;
  object-fit: cover;
}

h1{
  text-align: center;
  font-family: sans-serif;
  font-weight: lighter;
  letter-spacing: 3px;
  padding: 30px;
}
h2 {
  position: absolute;
  padding-left: 30px;
  padding-top: 30px;
}

@media screen and (min-width: 575px){
   div {
    width: 50%;
  }
}

@media screen and (min-width: 991px){
   div {
    width: 25%;
  }
}
